//style guide variables

$headline-text: 3rem;
$body-text: 1rem;
$nav-item: 1.25rem;
$sub-header: 1.5rem;
$byline: 0.75rem;
$headline-margin: 5px;
$sans-serif: 'Open Sans', sans-serif;
$serif: 'Slabo 27px', serif;
$sarcastic: 'SarcasticRobot', serif;


body {
  font-size: 16px;
}
h1{
  font-family: $serif;
  font-size: $headline-text;
  margin: $headline-margin;
}

@font-face {
font-family: SarcasticRobot;
font-style: normal;
font-weight: normal;
src: local('SarcasticRobot'), url("SarcasticRobot.otf") format("opentype");
}

p{
  font-family: $sarcastic;
  font-size: $body-text;
}

nav li {
  font-size: $nav-item;
}

h2{
  font-family: $sans-serif;
  font-size: $sub-header;
  margin: $headline-margin;
}

figcaption{
  font-size: $byline;
}
